/Source/Root/Web.config
/Source/Management/Web.config
*.suo
*.user
/Source/Common/Microsoft.ApplicationBlocks.Data/bin
/Source/Common/Microsoft.ApplicationBlocks.Data/doc
/Source/Common/Microsoft.ApplicationBlocks.Data/obj
/Source/Common/Common.DataAccess/bin
/Source/Common/Common.DataAccess/obj
/Source/Common/Common.LogicObject/bin
/Source/Common/Common.LogicObject/obj
/Source/Common/Common.Utility/bin
/Source/Common/Common.Utility/obj
/Source/Management/Bin/Common.DataAccess.pdb
/Source/Management/Bin/Common.DataAccess.XML
/Source/Management/Bin/Common.DataAccess.dll
/Source/Management/Bin/Common.LogicObject.dll
/Source/Management/Bin/Common.LogicObject.pdb
/Source/Logs
