<!-- 
//////////////////////////////////////////////////////

FREE HTML5 TEMPLATE 
DESIGNED & DEVELOPED by FREEHTML5.CO

//////////////////////////////////////////////////////
 -->

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Display &mdash; A free HTML5 Template by FREEHTML5.CO</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
  	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
  	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

  	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="favicon.ico">

  	<!-- Google Webfont -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Crimson+Text' rel='stylesheet' type='text/css'>
	<!-- Themify Icons -->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css/superfish.css">
	<!-- Easy Responsive Tabs -->
	<link rel="stylesheet" href="css/easy-responsive-tabs.css">

	

	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">

	
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<form>
			<!-- START #fh5co-header -->
			<header id="fh5co-header-section" role="header" class="" >
				<div class="container">
					
					<!-- START #fh5co-logo -->
					<h1 id="fh5co-logo" class="pull-left"><a href="index.html">Display</a></h1>
					
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active">
								<a href="index.html">Home</a>
							</li>
							<li>
								<a href="#" class="fh5co-sub-ddown">Dropdown</a>
								 <ul class="fh5co-sub-menu">
								 	<li><a href="left-sidebar.html">Left Sidebar</a></li>
								 	<li><a href="right-sidebar.html">Right Sidebar</a></li>
									<li><a href="#">HTML5</a></li>
									<li>
										<a href="#" class="fh5co-sub-ddown">JavaScript</a>
										<ul class="fh5co-sub-menu">
											<li><a href="#">jQuery</a></li>
											<li><a href="#">Zipto</a></li>
											<li><a href="#">Node.js</a></li>
											<li><a href="#">AngularJS</a></li>
										</ul>
									</li>
									<li><a href="#">CSS3</a></li> 
								</ul>
							</li>
							<li><a href="elements.html">Elements</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>

				</div>
			</header>
			
			<!-- START #fh5co-hero -->
			<aside id="fh5co-hero" style="background-image: url(images/hero4.jpg);">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="fh5co-hero-wrap">
								<div class="fh5co-hero-intro">
										<h2>We Are Creative People<span></span></h2>
										<h1>Display Creative Studio</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside>

			<div id="fh5co-main">

				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center fh5co-lead-wrap">
							<h2 class="fh5co-serif fh5co-lead">Cras <a href="#">rhoncus</a> scelerisque eros. Donec nec massa eu sapien condimentum aliquet ac in erat. Proin eleifend tortor eu arcu bibendum congue. </h2>
							<div class="fh5co-spacer fh5co-spacer-sm"></div>
							<p><a href="#" class="btn btn-outline btn-lg">Read More</a></p>
						</div>
					</div>
				</div>

				<section id="fh5co-feature">
					<div class="container">
						<!-- FEATURE -->
						<div class="row fh5co-feature-2">
							
							<h2 class="fh5co-uppercase-heading-sm text-center">Theme Features</h2>
							<div class="fh5co-spacer fh5co-spacer-md"></div>
							

							<div class="col-md-3 col-sm-6 fh5co-feature-item">
								<span class="fh5co-feature-icon fh5co-circle"><i class="ti-gift"></i></span>
								<h3 class="text-center fh5co-feature-title h4 text-uppercase">Free HTML5 Template</h3>
								<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt. </p>
								<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
							</div>
							<div class="col-md-3 col-sm-6 fh5co-feature-item">
								<span class="fh5co-feature-icon fh5co-circle"><i class="ti-mobile"></i></span>
								<h3 class="text-center fh5co-feature-title h4 text-uppercase">Mobile First</h3>
								<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
								<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
							</div>
							
							<div class="clearfix visible-sm-block"></div>

							<div class="col-md-3 col-sm-6 fh5co-feature-item">
								<span class="fh5co-feature-icon fh5co-circle"><i class="ti-pie-chart"></i></span>
								<h3 class="text-center fh5co-feature-title h4 text-uppercase">Analytics</h3>
								<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
								<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
							</div>
							<div class="col-md-3 col-sm-6 fh5co-feature-item">
								<span class="fh5co-feature-icon fh5co-circle"><i class="ti-wallet"></i></span>
								<h3 class="text-center fh5co-feature-title h4 text-uppercase">Increase Income</h3>
								<p class="text-center fh5co-feature-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat aliquid placeat nobis veritatis neque earum possimus tempora sunt.</p>
								<p class="text-center"><a href="#" class="btn btn-primary btn-sm">Read more</a></p>
							</div>
							
							<!-- <div class="fh5co-spacer fh5co-spacer-md"></div> -->

						</div>
					</div>
				</section>
				
				<div class="fh5co-spacer fh5co-spacer-lg"></div>


				<section id="fh5co-feature-slider">
					<div class="container">
						<div class="row">
							

							<div class="col-md-12">
								

								<div class="owl-carousel-fullwidth owl-carousel-2">
									<div class="item">
										<!-- <div class="container"> -->
											<div class="row">
												<div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
													<div class="row">
														<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img"> 
															<img src="images/macbook_1.png" alt="Images" class="img-responsive">
														</div>
														<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
															<h2>Saepe dolore natus corrupti <span class="fh5co-border"></span></h2>
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore natus, corrupti. Error nulla, quia nemo porro hic explicabo aliquid labore cumque in, nesciunt alias suscipit accusamus laborum ad tempora tempore</p>
														</div>
													</div>
												</div>
											</div>
										<!-- </div> -->
									</div>
									<!-- END .item -->

									<div class="item">
										<div class="row">
											<div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
												<div class="row">
													<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img"> 
														<img src="images/macbook_1.png" alt="Images" class="img-responsive">
													</div>
													<div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
														<h2>Saepe dolore natus corrupti<span class="fh5co-border"></span></h2>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe dolore natus, corrupti. Error nulla, quia nemo porro hic explicabo aliquid labore cumque in, nesciunt alias suscipit accusamus laborum ad tempora tempore.</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- END .item -->
								</div>
							
							</div>


						</div>
					</div>
				</section>
				
				<div class="fh5co-spacer fh5co-spacer-xlg"></div>

				<section id="fh5co-testimonial">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<h2 class="fh5co-uppercase-heading-sm">Testimony</h2>
								<div class="owl-carousel-fullwidth fh5co-light-arrow owl-carousel-2">
									<div class="item">
										<blockquote>
											<p class="fh5co-serif">&ldquo;Design is not just what it looks like and feels like. Design is how it works.&rdquo;</p>
											<p class="fh5co-testimonial-author"><cite>&mdash; Steve Jobs</cite></p>
										</blockquote>
									</div>
									<!-- END .item -->
									<div class="item">
									
										<blockquote>
											<p class="fh5co-serif">&ldquo;Design is not just what it looks like and feels like. Design is how it works.&rdquo;</p>
											<p class="fh5co-testimonial-author"><cite>&mdash; Steve Jobs</cite></p>
										</blockquote>
									</div>
									<!-- END .item -->
								</div>
							</div>
						</div>
					</div>
				</section>

				<section id="fh5co-newsletter">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
								<h2 class="fh5co-uppercase-heading-sm fh5co-no-margin-bottom">Subscribe Newsletter</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, assumenda.</p>
								<div class="fh5co-spacer fh5co-spacer-xxs"></div>
								<form method="post" action="#">
								  <div class="form-group">
								    <label for="email" class="sr-only">Email address</label>
								    <input type="email" class="form-control input-lg" id="email" placeholder="Email">
								  </div>
								  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send">
								</form>		
							</div>
						</div>
					</div>
				</section>
				
				<footer id="fh5co-footer">
					<div class="container">
						
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="ti-twitter-alt"></i></a></li>
							<li><a href="#"><i class="ti-facebook"></i></a></li>
							<li><a href="#"><i class="ti-github"></i></a></li>
							<li><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
						<p class="text-muted fh5co-no-margin-bottom text-center"><small>&copy; 2015 <a href="#">Display</a>. All rights reserved. Crafted with love <em>by</em> <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a> <br> Images by <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>

					</div>
				</footer>
			
		
			</div>
			
			
		<!-- jQuery -->
		<!--<script src="js/jquery-1.10.2.min.js"></script>-->
		<script src="js/jquery-3.2.1.js"></script>
		<script src="js/jquery-migrate-3.0.0.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="js/bootstrap.js"></script>
		<!-- Owl carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Magnific Popup -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<!-- Superfish -->
		<script src="js/hoverIntent.js"></script>
		<script src="js/superfish.js"></script>
		<!-- Easy Responsive Tabs -->
		<script src="js/easyResponsiveTabs.js"></script>
		<!-- FastClick for Mobile/Tablets -->
		<script src="js/fastclick.js"></script>
		<!-- Main JS -->
		<script src="js/main.js"></script>
		</form>
	</body>
</html>
